.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .title{
    text-transform: uppercase;
  }
  .cardsContainer{
    display: grid;
    gap: 20px;
    width: 350px;
    min-height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    .card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--teal-500);
      height: 100%;
      width: 100%;
      transition: all .3s ease-in-out;
      font-weight: bold;
      text-transform: uppercase;
      &:hover{
        filter: hue-rotate(180deg);
      }
    }
  }
}